<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinshijie.wiki.mapper.ElementContentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xinshijie.wiki.vo.ElementContentVo">
        <id column="id" property="id" />
        <result column="eid" property="eid" />
        <result column="title" property="title" />
        <result column="status" property="status" />
        <result column="content" property="content" />
        <result column="wid" property="wid" />
        <result column="create_id" property="createId" />
        <result column="create_name" property="createName" />
        <result column="create_time" property="createTime" />
        <result column="update_id" property="updateId" />
        <result column="update_name" property="updateName" />
        <result column="update_time" property="updateTime" />
        <result column="serial" property="serial" />
        <result column="extra" property="extra" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, eid, title, status, content, wid, create_id, create_name, create_time, update_id, update_name, update_time, serial,extra
    </sql>

    <sql id="selectElementContentVo">
        select
        id,
        eid,
        title,
        status,
        content,
        wid,
        create_id,
        create_name,
        create_time,
        update_id,
        update_name,
        update_time,
        serial,
        extra
       from wiki_element_content
    </sql>

    <select id="selectElementContentList" parameterType="com.xinshijie.wiki.dto.ElementContentDto" resultMap="BaseResultMap">
        <include refid="selectElementContentVo"/>
        <where>
         <if test="id != null "> and id = #{id}</if>
         <if test="eid != null "> and eid = #{eid}</if>
         <if test="title != null  and title != ''"> and title = #{title}</if>
         <if test="status != null "> and status = #{status}</if>
         <if test="content != null  and content != ''"> and content = #{content}</if>
         <if test="wid != null "> and wid = #{wid}</if>
         <if test="createId != null "> and create_id = #{createId}</if>
         <if test="createName != null  and createName != ''"> and create_name = #{createName}</if>
         <if test="createTime != null "> and create_time = #{createTime}</if>
         <if test="updateId != null "> and update_id = #{updateId}</if>
         <if test="updateName != null  and updateName != ''"> and update_name = #{updateName}</if>
         <if test="updateTime != null "> and update_time = #{updateTime}</if>
         <if test="serial != null "> and serial = #{serial}</if>
        </where>
    </select>

    <select id="selectPageElementContent"  resultMap="BaseResultMap">
        <include refid="selectElementContentVo"/>
        <where>
                <if test="dto.id != null"> and id = #{dto.id}</if>
                <if test="dto.eid != null"> and eid = #{dto.eid}</if>
                <if test="dto.title != null"> and title = #{dto.title}</if>
                <if test="dto.status != null"> and status = #{dto.status}</if>
                <if test="dto.content != null"> and content = #{dto.content}</if>
                <if test="dto.wid != null"> and wid = #{dto.wid}</if>
                <if test="dto.createId != null"> and create_id = #{dto.createId}</if>
                <if test="dto.createName != null"> and create_name = #{dto.createName}</if>
                <if test="dto.createTime != null"> and create_time = #{dto.createTime}</if>
                <if test="dto.updateId != null"> and update_id = #{dto.updateId}</if>
                <if test="dto.updateName != null"> and update_name = #{dto.updateName}</if>
                <if test="dto.updateTime != null"> and update_time = #{dto.updateTime}</if>
                <if test="dto.serial != null"> and serial = #{dto.serial}</if>
        </where>
    </select>

    <select id="getPageElementContent"  resultMap="BaseResultMap">
        <include refid="selectElementContentVo"/> ${ew.customSqlSegment}
    </select>

    <update id="edit"  >
        update  wiki_element_content
        <trim prefix="SET" suffixOverrides=",">
                    <if test="eid != null">eid = #{eid},</if>
                    <if test="title != null and title != ''">title = #{title},</if>
                    <if test="status != null">status = #{status},</if>
                    <if test="content != null and content != ''">content = #{content},</if>
                    <if test="wid != null">wid = #{wid},</if>
                    <if test="createId != null">create_id = #{createId},</if>
                    <if test="createName != null and createName != ''">create_name = #{createName},</if>
                    <if test="createTime != null">create_time = #{createTime},</if>
                    <if test="updateId != null">update_id = #{updateId},</if>
                    <if test="updateName != null and updateName != ''">update_name = #{updateName},</if>
                    <if test="updateTime != null">update_time = #{updateTime},</if>
                    <if test="serial != null">serial = #{serial},</if>
            <if test="extra != null">extra = #{extra},</if>
        </trim>
        where   id=#{id}               
    </update>

    <delete id="delById"  >
       delete FROM  wiki_element_content where  id = #{id}
    </delete>

    <select id="getInfo"  resultMap="BaseResultMap">
        <include refid="selectElementContentVo"/> where  id = #{id}               
    </select>

    <insert id="insetList" parameterType="java.util.List"  >
        insert  into wiki_element_content (
        eid, title, status, content, wid, create_id, create_name, create_time, update_id, update_name, update_time,extra
        ) values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.eid}, #{item.title}, #{item.status}, #{item.content}, #{item.wid}, #{item.createId},
            #{item.createName}, #{item.createTime}, #{item.updateId}, #{item.updateName}, #{item.updateTime}, #{extra}
            )
        </foreach>
    </insert>

    <select id="selectByWidEid"  resultType="com.xinshijie.wiki.vo.ElementContentVo">
        <include refid="selectElementContentVo"/>
        where eid=#{eid} and wid=#{wid}
    </select>
    <delete id="delByIdWidEid"  >
        delete FROM  wiki_element_content where  id = #{id} and eid=#{eid} and wid=#{wid}
    </delete>
    <update id="updateByIdWidEid"  >
        update  wiki_element_content
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="status != null">status = #{status},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="createId != null">create_id = #{createId},</if>
            <if test="createName != null and createName != ''">create_name = #{createName},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateId != null">update_id = #{updateId},</if>
            <if test="updateName != null and updateName != ''">update_name = #{updateName},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="serial != null">serial = #{serial},</if>
            <if test="extra != null">extra = #{extra},</if>
        </trim>
        where   id=#{id} and wid=#{wid}  and eid=#{eid}
    </update>
    <insert id="insertSelectEid">
        insert into wiki_element_content
        (eid, title, status, content, wid, create_id, create_name, create_time, update_id, update_name, update_time,extra)
        select ${eid}, title, 0, content, wid, create_id, create_name, create_time, update_id, update_name, update_time,extra
        from wiki_draft_content where wid=#{wid} and eid=#{deid} and is_new=1 and is_delete=0
    </insert>
    <insert id="insertSelect">
        insert into wiki_element_content
        (eid, title, status, content, wid, create_id, create_name, create_time, update_id, update_name, update_time,extra)
        select source_eid as eid, title, 0, content, wid, create_id, create_name, create_time, update_id, update_name, update_time,extra
        from wiki_draft_content where wid=#{wid} and eid=#{deid} and is_new=1 and is_delete=0
    </insert>

</mapper>
