<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinshijie.wiki.mapper.ElementHeadGeographyMapper">

    <sql id="selectElementHeadGeography">
        select
                  id,
                wid,
                weid,
                name,
                biography,
                extra,
                kind,
                feature,
                climate,
                living_race,
                affiliated_forces,
                main_character,
                specialty,
                environment,
                img_url,
                district_belong,
                district_belong_id
        from wiki_element_head_geography
    </sql>

    <select id="selectListElementHeadGeography" parameterType="com.xinshijie.wiki.dto.ElementHeadGeographyDto" resultType="com.xinshijie.wiki.vo.ElementHeadGeographyVo">
        <include refid="selectElementHeadGeography"/>
        <where>
                    <if test="id !=null "> and id= #{id}</if>
                    <if test="wid !=null "> and wid= #{wid}</if>
                    <if test="weid !=null "> and weid= #{weid}</if>
                    <if test="name !=null "> and name= #{name}</if>
                    <if test="biography !=null "> and biography= #{biography}</if>
                    <if test="extra !=null "> and extra= #{extra}</if>
                    <if test="kind !=null "> and kind= #{kind}</if>
                    <if test="feature !=null "> and feature= #{feature}</if>
                    <if test="climate !=null "> and climate= #{climate}</if>
                    <if test="livingRace !=null "> and living_race= #{livingRace}</if>
                    <if test="affiliatedForces !=null "> and affiliated_forces= #{affiliatedForces}</if>
                    <if test="mainCharacter !=null "> and main_character= #{mainCharacter}</if>
                    <if test="specialty !=null "> and specialty= #{specialty}</if>
                    <if test="environment !=null "> and environment= #{environment}</if>
                    <if test="imgUrl !=null "> and img_url= #{imgUrl}</if>
                    <if test="districtBelong !=null "> and district_belong= #{districtBelong}</if>
                    <if test="districtBelongId !=null "> and district_belong_id= #{districtBelongId}</if>
        </where>
    </select>

    <select id="selectPageElementHeadGeography"  resultType="com.xinshijie.wiki.vo.ElementHeadGeographyVo">
        <include refid="selectElementHeadGeography"/>
        <where>
                    <if test="dto.id !=null "> and id= #{dto.id}</if>
                    <if test="dto.wid !=null "> and wid= #{dto.wid}</if>
                    <if test="dto.weid !=null "> and weid= #{dto.weid}</if>
                    <if test="dto.name !=null "> and name= #{dto.name}</if>
                    <if test="dto.biography !=null "> and biography= #{dto.biography}</if>
                    <if test="dto.extra !=null "> and extra= #{dto.extra}</if>
                    <if test="dto.kind !=null "> and kind= #{dto.kind}</if>
                    <if test="dto.feature !=null "> and feature= #{dto.feature}</if>
                    <if test="dto.climate !=null "> and climate= #{dto.climate}</if>
                    <if test="dto.livingRace !=null "> and living_race= #{dto.livingRace}</if>
                    <if test="dto.affiliatedForces !=null "> and affiliated_forces= #{dto.affiliatedForces}</if>
                    <if test="dto.mainCharacter !=null "> and main_character= #{dto.mainCharacter}</if>
                    <if test="dto.specialty !=null "> and specialty= #{dto.specialty}</if>
                    <if test="dto.environment !=null "> and environment= #{dto.environment}</if>
                    <if test="dto.imgUrl !=null "> and img_url= #{dto.imgUrl}</if>
                    <if test="dto.districtBelong !=null "> and district_belong= #{dto.districtBelong}</if>
                    <if test="dto.districtBelongId !=null "> and district_belong_id= #{dto.districtBelongId}</if>
        </where>
    </select>

    <select id="getPageElementHeadGeography"  resultType="com.xinshijie.wiki.vo.ElementHeadGeographyVo">
        <include refid="selectElementHeadGeography"/> ${ew.customSqlSegment}
    </select>

    <insert id="add"  >
        insert into wiki_element_head_geography (
                  id,
                wid,
                weid,
                name,
                biography,
                extra,
                kind,
                feature,
                climate,
                living_race,
                affiliated_forces,
                main_character,
                specialty,
                environment,
                img_url,
                district_belong,
                district_belong_id
          )
        values
            (
                      #{ id },
                    #{ wid },
                    #{ weid },
                    #{ name },
                    #{ biography },
                    #{ extra },
                    #{ kind },
                    #{ feature },
                    #{ climate },
                    #{ livingRace },
                    #{ affiliatedForces },
                    #{ mainCharacter },
                    #{ specialty },
                    #{ environment },
                    #{ imgUrl },
                    #{ districtBelong },
                    #{ districtBelongId }
       )
    </insert>

    <update id="edit"  >
        update  wiki_element_head_geography
        <trim prefix="SET" suffixOverrides=",">
                    <if test="id !=null ">  id= #{id},</if>
                    <if test="wid !=null ">  wid= #{wid},</if>
                    <if test="weid !=null ">  weid= #{weid},</if>
                    <if test="name !=null ">  name= #{name},</if>
                    <if test="biography !=null ">  biography= #{biography},</if>
                    <if test="extra !=null ">  extra= #{extra},</if>
                    <if test="kind !=null ">  kind= #{kind},</if>
                    <if test="feature !=null ">  feature= #{feature},</if>
                    <if test="climate !=null ">  climate= #{climate},</if>
                    <if test="livingRace !=null ">  living_race= #{livingRace},</if>
                    <if test="affiliatedForces !=null ">  affiliated_forces= #{affiliatedForces},</if>
                    <if test="mainCharacter !=null ">  main_character= #{mainCharacter},</if>
                    <if test="specialty !=null ">  specialty= #{specialty},</if>
                    <if test="environment !=null ">  environment= #{environment},</if>
                    <if test="imgUrl !=null ">  img_url= #{imgUrl},</if>
                    <if test="districtBelong !=null ">  district_belong= #{districtBelong},</if>
                    <if test="districtBelongId !=null ">  district_belong_id= #{districtBelongId},</if>
        </trim>
        where   id=#{id}
    </update>

    <delete id="delById"  >
        delete FROM  wiki_element_head_geography where  id = #{id}
    </delete>

    <select id="getInfo"  resultType="com.xinshijie.wiki.vo.ElementHeadGeographyVo">
        <include refid="selectElementHeadGeography"/> where  id = #{id}
    </select>
    <insert id="insertSelectEid">
        insert into wiki_element_head_geography
        (eid, title, status, content, wid, create_id, create_name, create_time, update_id, update_name, update_time,extra)
        select ${eid}, title, 0, content, wid, create_id, create_name, create_time, update_id, update_name, update_time,extra
        from wiki_dart_head_geography  where wid=#{wid} and eid=#{deid} and is_new=1 and is_delete=0
    </insert>
    <insert id="insertSelect">
        insert into wiki_element_head_geography
        (eid, title, status, content, wid, create_id, create_name, create_time, update_id, update_name, update_time,extra)
        select source_eid as eid, title, 0, content, wid, create_id, create_name, create_time, update_id, update_name, update_time,extra
        from wiki_dart_head_geography  where wid=#{wid} and eid=#{deid} and is_new=1 and is_delete=0
    </insert>
    <select id="selectByWidEid"  resultType="com.xinshijie.wiki.vo.ElementHeadGeographyVo">
        <include refid="selectElementHeadGeography"/>
        where eid=#{eid} and wid=#{wid}
    </select>
    <delete id="delByIdWidEid"  >
        delete FROM  wiki_element_head_geography  where  id = #{id} and eid=#{eid} and wid=#{wid}
    </delete>
</mapper>
