<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinshijie.wiki.mapper.FllowMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xinshijie.wiki.vo.FllowVo">
        <result column="id" property="id" />
        <result column="wid" property="wid" />
        <result column="wname" property="wname" />
        <result column="create_id" property="createId" />
        <result column="create_name" property="createName" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, wid, wname, create_id, create_name, create_time
    </sql>

    <sql id="selectFllowVo">
        select
            wf.id,
            wf.wid,
            ww.name as wname ,
            ww.intro ,
            ww.types  ,
            ww.img_url  ,
            wf.create_id,
            wf.create_name,
            wf.create_time,
            ww.ranks ,
            ww.create_time ,
            ww.update_new_element ,
            ww.update_new_element_id ,
            ww.update_new_element_time
        from wiki_fllow wf,wiki_world ww
        where wf.wid =ww.id
    </sql>

    <select id="selectFllowList" parameterType="com.xinshijie.wiki.dto.FllowDto" resultMap="BaseResultMap">
        <include refid="selectFllowVo"/>
         <if test="id != null "> and wf.id = #{id}</if>
         <if test="wid != null "> and wf.wid = #{wid}</if>
         <if test="wname != null  and wname != ''"> and wf.wname = #{wname}</if>
         <if test="createId != null "> and wf.create_id = #{createId}</if>
         <if test="createName != null  and createName != ''"> and wf.create_name = #{createName}</if>
         <if test="createTime != null "> and wf.create_time = #{createTime}</if>
    </select>

    <select id="selectPageFllow"  resultMap="BaseResultMap">
        <include refid="selectFllowVo"/>
                <if test="dto.id != null"> and wf.id = #{dto.id}</if>
                <if test="dto.wid != null"> and wf.wid = #{dto.wid}</if>
                <if test="dto.wname != null"> and wf.wname = #{dto.wname}</if>
                <if test="dto.createId != null"> and wf.create_id = #{dto.createId}</if>
                <if test="dto.createName != null"> and wf.create_name = #{dto.createName}</if>
                <if test="dto.createTime != null"> and wf.create_time = #{dto.createTime}</if>
    </select>

    <select id="getPageFllow"  resultMap="BaseResultMap">
        <include refid="selectFllowVo"/> ${ew.customSqlSegment}
    </select>


    <update id="edit"  >
        update  wiki_fllow
        <trim prefix="SET" suffixOverrides=",">
                    <if test="id != null">id = #{id},</if>
                    <if test="wid != null">wid = #{wid},</if>
                    <if test="wname != null and wname != ''">wname = #{wname},</if>
                    <if test="createId != null">create_id = #{createId},</if>
                    <if test="createName != null and createName != ''">create_name = #{createName},</if>
                    <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where        id=#{id}
    </update>

    <delete id="delById"  >
       delete FROM  wiki_fllow where       id=#{id}
    </delete>

    <select id="getInfo"  resultMap="BaseResultMap">
        <include refid="selectFllowVo"/>  and   wf.id=#{id}
    </select>
    <select id="getInfoByWidUserid"  resultMap="BaseResultMap">
        <include refid="selectFllowVo"/>   and   wf.wid=#{wid} and wf.create_id =#{userId}
    </select>
</mapper>
