<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinshijie.wiki.mapper.UserMapper">

    <sql id="selectUserVo">
       select * from sys_user u
    </sql>
    <select id="getInfo"  resultType="com.xinshijie.wiki.vo.UserVo">
        select * FROM sys_user u where u.user_id = #{id}
    </select>
    <select id="selectUserByUserName" parameterType="String" resultType="com.xinshijie.wiki.vo.UserVo">
        <include refid="selectUserVo"/>
        where u.user_name = #{userName} and u.del_flag = '0'
    </select>

    <select id="selectUserById" parameterType="Long" resultType="com.xinshijie.wiki.domain.User">
        <include refid="selectUserVo"/>
        where u.user_id = #{userId}
    </select>

    <select id="checkUserNameUnique" parameterType="String" resultType="int">
        select count(1) from sys_user where user_name = #{userName} and del_flag = '0' limit 1
    </select>

    <select id="checkPhoneUnique" parameterType="String" resultType="com.xinshijie.wiki.vo.UserVo">
        select user_id, phonenumber from sys_user where phonenumber = #{phonenumber} and del_flag = '0' limit 1
    </select>

    <select id="checkEmailUnique" parameterType="String" resultType="com.xinshijie.wiki.vo.UserVo">
        select user_id, email from sys_user where email = #{email} and del_flag = '0' limit 1
    </select>

    <insert id="insertUser" parameterType="com.xinshijie.wiki.dto.UserDto" useGeneratedKeys="true" keyProperty="userId">
        insert into sys_user(
        <if test="userId != null and userId != 0">user_id,</if>
        <if test="deptId != null and deptId != 0">dept_id,</if>
        <if test="userName != null and userName != ''">user_name,</if>
        <if test="nickName != null and nickName != ''">nick_name,</if>
        <if test="email != null and email != ''">email,</if>
        <if test="isEmail != null and isEmail != ''">is_email,</if>

        <if test="avatar != null and avatar != ''">avatar,</if>
        <if test="phonenumber != null and phonenumber != ''">phonenumber,</if>
        <if test="sex != null and sex != ''">sex,</if>
        <if test="password != null and password != ''">password,</if>
        <if test="status != null and status != ''">status,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        <if test="remark != null and remark != ''">remark,</if>
        <if test="sign != null and sign != ''">sign,</if>
        create_time
        )values(
        <if test="userId != null and userId != ''">#{userId},</if>
        <if test="deptId != null and deptId != ''">#{deptId},</if>
        <if test="userName != null and userName != ''">#{userName},</if>
        <if test="nickName != null and nickName != ''">#{nickName},</if>
        <if test="email != null and email != ''">#{email},</if>
        <if test="isEmail != null and isEmail != ''">#{isEmail},</if>
        <if test="avatar != null and avatar != ''">#{avatar},</if>
        <if test="phonenumber != null and phonenumber != ''">#{phonenumber},</if>
        <if test="sex != null and sex != ''">#{sex},</if>
        <if test="password != null and password != ''">#{password},</if>
        <if test="status != null and status != ''">#{status},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        <if test="remark != null and remark != ''">#{remark},</if>
        <if test="sign != null and sign != ''">#{sign},</if>
        sysdate()
        )
    </insert>

    <update id="updateUser" parameterType="com.xinshijie.wiki.dto.UserDto">
        update sys_user
        <set>
            <if test="nickName != null and nickName != ''">nick_name = #{nickName},</if>
            <if test="email != null ">email = #{email},</if>
            <if test="isEmail != null ">is_email = #{isEmail},</if>
            <if test="phonenumber != null ">phonenumber = #{phonenumber},</if>
            <if test="sex != null and sex != ''">sex = #{sex},</if>
            <if test="avatar != null and avatar != ''">avatar = #{avatar},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="loginIp != null and loginIp != ''">login_ip = #{loginIp},</if>
            <if test="loginDate != null">login_date = #{loginDate},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="sign != null">sign = #{sign},</if>
            <if test="remark != null">remark = #{remark},</if>
            update_time = sysdate()
        </set>
        where user_id = #{userId}
    </update>

    <update id="updateUserStatus" parameterType="SysUser">
        update sys_user set status = #{status} where user_id = #{userId}
    </update>

    <update id="updateUserAvatar" parameterType="SysUser">
        update sys_user set avatar = #{avatar} where user_name = #{userName}
    </update>

    <update id="resetUserPwd" parameterType="SysUser">
        update sys_user set password = #{password} where user_name = #{userName}
    </update>

    <delete id="deleteUserById" parameterType="Long">
        update sys_user set del_flag = '2' where user_id = #{userId}
    </delete>

    <delete id="deleteUserByIds" parameterType="Long">
        update sys_user set del_flag = '2' where user_id in
        <foreach collection="array" item="userId" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>
    <update id="updateRank"  >
        update  sys_user
        set ranks = ranks + 1
        where   user_id=#{userId} and exp>= #{upgrade}
    </update>
    <update id="updateCount" >
        update sys_user
        <set>
            <if test="countChapter != null ">count_chapter =count_chapter+ #{countChapter},</if>
            <if test="countComment != null ">count_comment =count_comment+ #{countComment},</if>
            <if test="countDiscuss != null ">count_discuss =count_discuss+ #{countDiscuss},</if>
            <if test="countElement != null ">count_element =count_element+ #{countElement},</if>
            <if test="countEdit != null ">count_edit =count_edit+ #{countEdit},</if>
            <if test="countFllow != null ">count_fllow =count_fllow+ #{countFllow},</if>
            <if test="countHarding != null ">count_harding =count_harding+ #{countHarding},</if>
            <if test="countLike != null ">count_like =count_like+ #{countLike},</if>
            <if test="countWorld != null ">count_world = count_world+#{countWorld},</if>
            <if test="countUpdate != null ">count_update =count_update+ #{countUpdate},</if>
            <if test="countSee != null ">count_see =count_see+ #{countSee},</if>
            <if test="countStory != null ">count_story =count_story+ #{countStory},</if>
            <if test="exp != null ">exp =exp + #{exp},</if>
            update_time = sysdate()
        </set>
        where user_id = #{userId}
    </update>
    <select id="selectByEmail" parameterType="String" resultType="com.xinshijie.wiki.vo.UserVo">
        select * from sys_user where email = #{email} and is_email = 1 limit 1
    </select>
</mapper>
