<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="elementContent">
        <dev th:each="item : ${userList}" style="margin-bottom: 20px">
            <div style="background: inherit;background-color: rgba(249, 249, 249, 1);box-sizing: border-box;border-width: 1px;border-style: solid;border-color: rgba(233, 233, 233, 1);border-radius: 0px;-moz-box-shadow: none;-webkit-box-shadow: none;box-shadow: none;">

            </div>
            <div></div>
        </dev>
    </div>
</body>
</html>